/*
creat by chenlj
宅基地审批
*/



/*========================================================宅基地审批基本信息==================================================*/
/*基本信息表单样式*/
.tab_jbxx{width: 1100px; border: 1px solid #0099CC; border-left: none; border-collapse:collapse;}
.tab_jbxx tr td { padding-left: 10px;line-height: 30px;}
/*项目基本信息标题*/
.tab_jbxx_title{line-height: 35px; color: #074E8C; text-align:center; font-size: 20px; font-weight: bolder;
    background: url('/gyjg/static/images/jsydys/jsydys_jbxx_top.png')}
/*项目基本信息注解*/
/*面积单位*/
.tab_jbxx_title_area{text-align: right; line-height: 30px; color: #074E8C; font-size: 14px;
    padding-right: 20px;font-weight: bolder;}
/*文本框宽度*/
.txtbox{ width: 386px;}

/*房屋用地情况样式*/
.tab_jbxx2{width: 1100px; border: 1px solid #0099CC; border-left: none; border-collapse:collapse;}
.tab_fwyd{ width: 1060px;  margin-left: 20px; margin-bottom: 5px; border-left: 1px solid #99CCFF;
    border-top: 1px solid #99CCFF;border-collapse:collapse;}
/*房屋用地情况标题*/
.tab_fwyd_title{ line-height: 28px; text-align: center; font-size: 18px; font-weight: bolder; color: #074E8C;
    background: url('/gyjg/static/images/jsydys/jsydys_jbxx_nydgm.png')}
/*单元格的宽度*/
.tab_fwyd_width{width: 120px;}
/*文本框的宽度为100*/
.tab_fwyd_input100{width:100px;}
/*文本框的宽度为140*/
.tab_fwyd_input140{width:140px;}
/*文本框的宽度为290*/
.tab_fwyd_input290{width:290px;}

/*房屋用地情况样式*/

/*申请房屋国土规划相关情况样式*/
.tab_jbxx3{width: 1100px; border: 1px solid #0099CC; border-left: none; border-collapse:collapse;}
.tab_gtgh{ width: 1060px;  margin-left: 20px; margin-bottom: 5px; border-left: 1px solid #99CCFF;
    border-top: 1px solid #99CCFF;border-collapse:collapse;}
/*申请房屋国土规划相关情况标题*/
.tab_gtgh_title{ line-height: 28px; text-align: center; font-size: 18px; font-weight: bolder; color: #074E8C;
    background: url('/gyjg/static/images/jsydys/jsydys_jbxx_nydgm.png')}
/*单元格的宽度*/
.tab_gtgh_width{width: 160px;}
/*文本框的宽度为140*/
.tab_gtgh_input120{width:120px;}
/*文本框的宽度为140*/
.tab_gtgh_input140{width:140px;}
/*文本框的宽度为290*/
.tab_gtgh_input290{width:290px;}

/*申请房屋国土规划相关情况样式*/



/*单元格的右边框和下边框的宽度、颜色*/
.border_right_bottom{border-right: 1px solid #99CCFF;border-bottom: 1px solid #99CCFF; text-align: center;}
/*单元格的背景色*/
.background_color{background-color: #E7EBF1;}

.requiredField{color: #ff0000;}

/*========================================================宅基地审批基本信息==================================================*/

