* {
	margin: 0;
	padding: 0;
}
body{
	font-family:"微软雅黑";
}
.subcontent {
	width: 100%;
	margin: 0 auto;
}

.searchcolor {
	background-color: #4EB460;
	/*绿色*/
}
.searchcolor:hover{
	background-color: #279e38;
}
.tablecolor1 {
	color: #FFFFFF;
	background-color: #5d9ad3;
}
.tablecolor2 {
	color: #FFFFFF;
	background-color: #3d63b6;
}
.tablecolor3 {
	color: #FFFFFF;
	background-color: #4EB460;
}
.barcolor1{
	background-color: #8ec220;
}
.barcolor2{
	background-color: #53ba9f;
}
.barcolor3{
	background-color: #e9a914;
}
.barcolor4{
	background-color: #5D9AD3;
}
/*subsearch*/
.subsearch {
	margin: 15px 20px;
}

.searchbtn {
	height: 35px;
	line-height: 35px;
	float: right;
	padding: 0px 20px;
	color: #FFFFFF;
	border-radius: 5px;
	margin-left: 10px;
	cursor: pointer;
}

.searchleft {
	height: 35px;
	overflow: hidden;
	border: 1px solid #C6D9F7;
	border-radius: 2px;
}

.searchleft img {
	height: 21px;
	float: left;
	margin: 0px 8px;
	margin-top: 7px;
}

.searchinput {
	overflow: hidden;
	height: 100%;
}

.searchinput input {
	width: 100%;
	height: 100%;
	font-size: 16px;
	border: none;
	outline: none;
}

/*personal*/
/*--subtab--*/

.subtab {
	width: 100%;
	background-color: #f5f5f5;
	font-size: 0;
}

.subtab a {
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	border-bottom: 2px solid transparent;
	padding: 8px 0px;
	margin: 0px 20px;
	cursor: pointer;
}

.subtabclick {
	border-bottom: 2px solid #3974eb!important;
}


/*--subchartbtn--*/

.subchartbtn {
	float: right;
	font-size: 0;
	margin: 10px 0;
}

.subchartbtn a {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	background-color: #dee0df;
	padding: 4px 20px;
	margin-right: 2px;
	cursor: pointer;
}

.subchartclick {
	color: #FFFFFF;
	background-color: #f39801!important;
}


/*--subcharttable--*/

.subcharttable {
	border-collapse: collapse;
	font-size: 14px;
	margin: 0 auto;
	width: 100%
}

.subcharttable td {
	padding: 5px 0;
	text-align: center;
	border: 1px solid #dedede;
}

.subcharttable td span {
	color: #FF0000;
}


/*--subchartnote--*/

.subchartnote {
	margin-top: 10px;
	color: #f39801;
}


/*--决策分析20160708 start--*/
*{ margin:0px; padding:0px;}
ul,li{ list-style:none;}
.clear{ clear:both;}
.fl{ float:left;}
.body_main_bg{ background:url(../img/main_bg.png);}
.body_main_bg1{ background:url(../img/sysbg.png);}
.jcfx_main{position:absolute; top:0px; left:0px; bottom:0px; right:0px; background-image:url(../img/sysbg.png); background-repeat:no-repeat; background-attachment:fixed; background-position:50% 100%; overflow:auto;}
.jcfx_cont{ width:90%; margin:0 auto;}
.jcfx_lft{ float:left; width:230px; height:auto;}
.jcfx_lft h2{ color:#3D63B6; font-size:20px; padding-left:10px; line-height:36px;}

.jcfx_panel{-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none;
 border:0; -moz-box-shadow:0 3px 0 rgba(12,12,12,0.03); -webkit-box-shadow:0 3px 0 rgba(12,12,12,0.03); box-shadow:0 3px 0 rgba(12,12,12,0.03); margin-bottom:15px;}
.blue{ background:#5D9AD3;}
.purple{ background:#B56CB7;}
.lightgreen{ background:#14B4B9;}
.green{ background:#4FB460;}
.orange{ background:#E9A915;}
.red{ background:#D76E6E;}

.blue:hover{ background:#428AC6;}
.purple:hover{ background:#AD57B2;} 
.lightgreen:hover{ background:#00AAAA;}
.green:hover{ background:#2DAA3F;}
.orange:hover{ background:#E89B00;} 
.red:hover{ background:#D15A5A;}


.jcfx_panel .panel-heading {padding:10px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; cursor:pointer;}
.jcfx_panel .stat{color:#fff; max-width:230px; max-height:80px;}
.row{}
.col_fx_img{ width:30%;  margin-top:10px;}
.col_fx_txt{ width:70%; } 
.jcfx_panel h1{ font-size:24px; line-height:28px; font-family: 'Helvetica Neue', sans-serif; font-weight:bold;}
.jcfx_stat_label{ font-size:12px; line-height:normal; display:inline-block; width:100%;}

.jcfx_rit{ margin-left:250px; padding-top:20px;}
.jcfx_rit .jcfx_rit_box{ float:left;width:40%;  margin:0px; padding:20px;} 
.report_list{ margin-bottom:10px; float:left;display:block; width:300px;margin-right:10px;}
.report_list h2{color:#3D63B6; font-size:16px; height:46px; line-height:46px; border-bottom:1px solid #ddd;}
.report_list h2 span{ display:inline-block; height:46px; margin-bottom:-2px; border-bottom:2px solid #3874EB;}
.report_list ul{ padding-top:20px;}
.report_list ul li{ height:28px; line-height:28px; background:url(../img/arrow.png) 0 7px; background-repeat:no-repeat; padding-left:20px;}
.report_list ul li a{ font-size:14px; color:#333; text-decoration:none;}
.report_list ul li a:hover{ color:#f50;} 

/*--决策分析20160708 end--*/